extends layout

block content
  .album.py-5.bg-light
    .container
      .row
          .col.col-sm-6.col-md-4.col-lg-3.g-4
            .card.text-center(style='height:100%;text-align:center')
              .card-body(style='align-content: center;display: flex;flex-wrap: wrap;text-align: center;')
                h5.card-title(style='width:100%')
                  a(href=`/classes`) Classes
          .col.col-sm-6.col-md-4.col-lg-3.g-4
            .card.text-center(style='height:100%;text-align:center')
              .card-body(style='align-content: center;display: flex;flex-wrap: wrap;text-align: center;')
                h5.card-title(style='width:100%')
                  a(href=`termosIndice`) Termos de Índice        